@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-dots li button:before {
    font-size: 15px; /* Larger size for dots */
    color: #000000; /* Dark color for dots */
    padding-top: 20px;
  } 

  .slider-container{
    padding-left: 5px;
    padding-right: 5px;
  }
  